{%- capture active_class -%}
  {%- if page.default_tab == include.key -%}
    {{- "active" -}}
  {%- endif -%}
{%- endcapture -%}

{%- capture selected -%}
  {%- if page.default_tab == include.key -%}
    {{- "true" -}}
  {%- else -%}
    {{- "false" -}}
  {%- endif -%}
{%- endcapture -%}
{%- assign css_class = "nav-link " | append: active_class -%}

<li class="nav-item">
  <a class="{{ css_class | strip }}" id="{{ include.key }}-tab"
     data-toggle="tab" href="#tab-{{ include.key }}" role="tab"
     aria-controls="{{ include.key }}-tab"
     aria-selected="{{ selected }}">
    {{- include.content -}}
  </a>
</li>