{%- assign i18n = site.data.translations -%}
{%- assign cta = site.data.aside.general.call_to_action -%}
{%- assign cancel_label = i18n.aside.cancel | default: 'Cancel' -%}

<aside id="aside" class="collapse">
  <div class="backdrop" data-toggle="collapse" data-target="#aside"></div>
  <div class="body container">
    <div class="visible-collapse">
      <div class="row py-3 border-bottom mx-0">
        <div class="col"></div>
        <div class="col d-flex align-items-center justify-content-center">
          <b>{{ i18n.aside.heading | default: 'Menu' }}</b>
        </div>
        <div class="col text-right">
          <button type="button" class="close" data-toggle="collapse" data-target="#aside">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div class="content overflow-y">
      {%-if cta -%}
        <div id="cta" class="mb-3">
          {%- capture target -%}
            {%- if cta.open_new_tab -%}
              {{ "_blank" }}
            {%- else -%}
              {{ "_self" }}
            {%- endif -%}
          {%- endcapture -%}
          <a class="btn btn-primary btn-block btn-lg" rel="noopener" href="{{ cta.url }}" target="{{ target }}" title="{{ cta.name | escape }}">{{ cta.name }}</a>
        </div>
      {%- endif -%}
      {%- include asides/components/actions.html -%}
      {%- include asides/components/socials.html -%}
      <div id="footnote" class="text-center p-3">
        {%- if site.data.aside.general.footnote -%}
          <div class="mb-2">{{ site.data.aside.general.footnote }}</div>
        {%- endif -%}
        {%- include copyright.html -%}
        {%- include asides/components/cmdbrew_badge.html -%}
      </div>
    </div>
  </div>
</aside>