{%- assign i18n = site.data.translations -%}
{%- assign cta = site.data.aside.general.call_to_action -%}
{%- assign cancel_label = i18n.aside.cancel | default: 'Cancel' -%}

<aside id="aside" class="collapse">
  <div class="backdrop" data-toggle="collapse" data-target="#aside"></div>
  <div class="body container">
    <div class="visible-collapse">
      <div class="row py-3 border-bottom mx-0">
        <div class="col"></div>
        <div class="col d-flex align-items-center justify-content-center">
          <b>{{ i18n.files.file.comments | default: 'Comments' }}</b>
        </div>
        <div class="col text-right">
          <button type="button" class="close" data-toggle="collapse" data-target="#aside">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div class="content overflow-y">
      <div class="hidden-collapse">
        {%- include files/info.html -%}
      </div>

      {%- if site.disqus.shortname -%}
        <div class="container py-3 px-0 border-top">
          {%- include disqus_comments.html -%}
        </div>
      {%- endif -%}

      <div id="footnote" class="text-center p-3">
        {%- include copyright.html -%}
        {%- include asides/components/cmdbrew_badge.html -%}
      </div>
    </div>
  </div>
</aside>