*.gem
.bundle
.jekyll-cache
.jekyll-metadata
.sass-cache
_site
Gemfile.lock

# Ignore rbenv files
.ruby-version

# Ignore js files
/node_modules

# Ignore reports
licenses.html

# Ignore debugger
.byebug_history
