---
layout: home
brief: |-
  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
  vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
  lacinia
tabs:
  home: Home
  pages: Pages
---

{% assign filtered_pages = site.pages | where: 'list_on_index', true %}

<div id="jumbotron" class="jumbotron jumbotron-fluid" style="background-image: url('https://pbs.twimg.com/profile_banners/372475592/1386735774/1500x500')"></div>

<div class="container">
  <div class="brand-info mb-4">
    <div class="logo rounded-circle" style="background-image: url('https://pbs.twimg.com/profile_images/788777950132830208/vgO3N1r7_400x400.jpg')"></div>
    <div class="mt-3">
      <h5>{{ site.title }}</h5>
      {{ page.brief }}
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="{{ page.tabs.home }}-tab" data-toggle="tab" href="#tab-{{ page.tabs.home }}" role="tab" aria-controls="{{ page.tabs.home }}" aria-selected="true">{{ page.tabs.home }}</a>
    </li>

    {%- if site.categories.size > 0 -%}
      <li class="nav-item">
        <a class="nav-link" id="categories-tab" data-toggle="tab" href="#tab-categories" role="tab" aria-controls="categories-tab" aria-selected="false">Topics</a>
      </li>
    {%- endif -%}

    {%- if filtered_pages.size > 0 -%}
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tab-{{ page.tabs.pages }}" role="tab" aria-controls="{{ page.tabs.pages }}" aria-selected="false">{{ page.tabs.pages }}</a>
      </li>
    {%- endif -%}
  </ul>
  <div class="tab-content py-3" id="myTabContent">
    <div class="tab-pane fade show active" id="tab-{{ page.tabs.home }}" role="tabpanel" aria-labelledby="{{ page.tabs.home }}-tab">
      <div class="card mb-3">
        <div class="card-body">
          <p class="card-text">This is the updates...</p>
        </div>
      </div>

      {%- if site.posts.size > 0 -%}
      <ul class="list-group list-group-flush">
        {%- for post in site.posts -%}
        <li class="list-group-item">
          <div class="mb-2">
            <h5>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h5>
            {%- assign date_format = site.minima.date_format | defadivt: "%b %-d, %Y" -%}
            <span class="post-meta text-secondary">{{ post.date | date: date_format }}</span>
          </div>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>

    {%- if site.categories.size > 0 -%}
      <div class="tab-pane fade" id="tab-categories" role="tabpanel" aria-labelledby="tab-categories">
        <div class="list-group list-group-flush">
          {% assign last_heading = "" %}
          {%- for category in site.categories -%}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            {% assign heading = category_name | slice: 0 | upcase %}

            {% if heading != last_heading %}
              <h3>{{ heading }}</h3>
            {% endif %}

            <a class="list-group-item list-group-item-action" href="#">{{ category_name }}</a>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    {%- if filtered_pages.size > 0 -%}
      <div class="tab-pane fade" id="tab-{{ page.tabs.pages }}" role="tabpanel" aria-labelledby="{{ page.tabs.pages }}-tab">
        <div class="list-group list-group-flush">
          {% assign last_heading = "" %}
          {%- for page in filtered_pages -%}
            {% assign heading = page.title | slice: 0 | upcase %}

            {% if heading != last_heading %}
              <h3>{{ heading }}</h3>
            {% endif %}

            <a class="list-group-item list-group-item-action" href="{{ page.url | relative_url }}">{{ page.title }}</a>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>