<!-- 📖Official Guide - https://owlcarousel2.github.io/OwlCarousel2/docs/api-options.html -->
<!-- 👨🏾‍💻Demo - https://owlcarousel2.github.io/OwlCarousel2/demos/demos.html -->
<!-- Carousel (START) -->
<div class="owl-carousel owl-theme" data-js="carousel" data-owl-options='👉{ "items": "2" }'>
  <!-- 👉 Replace me (START) -->
  <div class="item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <!-- 👉 Replace me (END) -->
  <!-- 👉 Replace me (START) -->
  <div class="item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <!-- 👉 Replace me (END) -->
</div>
<!-- Carousel (END) -->