<!-- 📖Official Guide - https://getbootstrap.com/docs/4.3/layout/grid/#equal-width -->
<!-- Columns (START) -->
<div class="container">
  <div class="row">
    <div class="col-lg">
      👉1 of 2
    </div>
    <div class="col-lg">
      👉2 of 2
    </div>
  </div>
</div>
<!-- Columns (END) -->