<!-- 📖Official Guide - https://getbootstrap.com/docs/4.3/components/dropdowns/#single-button -->
<!-- Dropdown (START) ❗Make sure to replace dropdown-id to an unique id -->
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="👉dropdown-id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="👉dropdown-id">
    <a class="dropdown-item" href="👉Link URL">👉Action</a>
    <a class="dropdown-item" href="👉Link URL">👉Another action</a>
    <a class="dropdown-item" href="👉Link URL">👉Something else here</a>
  </div>
</div>
<!-- Dropdown (END) -->