<!-- 📖Official Guide - https://getbootstrap.com/docs/4.3/content/images/ -->
<!-- Image - inline (START) -->
<img src="👉{{ site.jekyll_cmdbrew.logo }}" alt="👉My Logo" class="rounded" />
<!-- Image - inline (END) -->