<!-- 📖Official Guide - https://getbootstrap.com/docs/4.3/components/list-group/#links-and-buttons -->
<!-- List Group - Action (START) -->
<div class="list-group">
  <a href="👉Link URL" class="list-group-item list-group-item-action">👉Link Text</a>
  <a href="👉Link URL" class="list-group-item list-group-item-action">👉Link Text</a>
</div>
<!-- List Group - Action (END) -->