<!-- 📖Official Guide - https://getbootstrap.com/docs/4.3/content/tables/#always-responsive -->
<!-- Table (START) -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>👉#</th>
        <th>👉First</th>
        <th>👉Last</th>
        <th>👉Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>👉col</th>
        <td>👉col</td>
        <td>👉col</td>
        <td>👉col</td>
      </tr>
      <tr>
        <th>👉col</th>
        <td>👉col</td>
        <td>👉col</td>
        <td>👉col</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Table (END) -->