<!-- 📖Official Guide - https://getbootstrap.com/docs/4.3/content/tables/#always-responsive -->
<!-- Tooltip (START) -->
<span tabindex="0" data-toggle="tooltip" title="👉Disabled tooltip">👉Text with tooltip</span>
<!-- Tooltip (END) -->