{%- assign i18n = site.data.translations -%}

<div class="mb-4 text-break">
  <h3>{{ page.title }}</h3>
</div>

<div class="mb-4">
  <h6>{{ i18n.files.file.content | default: 'Details' }}</h6>
  <article>{{ content }}</article>
</div>

<div class="mb-4">
  <h6>{{ i18n.files.file.actions.title | default: 'Actions' }}</h6>
  <div class="actions">
    <a class="btn btn-light btn-block" href="{{ page.file }}" target="_blank">
      {{- i18n.files.file.actions.view | default: 'View Original' -}}
    </a>
    {%- if page.download -%}
      <a class="btn btn-light btn-block" href="{{ page.file }}" download={{ page.title | slugify }}>
        {{- i18n.files.file.actions.download | default: 'Download' -}}
      </a>
    {%- endif -%}
  </div>
</div>