{%- assign i18n = site.data.translations -%}

<div class="text-break">
  <h4>{{ page.title }}</h4>
</div>

{%- if page.excerpt.size > 0 -%}
  <div class="mb-4">
    <article>{{ page.excerpt | markdownify }}</article>
  </div>
{%- endif -%}

{%- if page.file.size > 0 -%}
  <div class="mb-4 hidden-collapse">
    <div class="actions">
      <a class="btn btn-light btn-block" href="{{ page.file }}" target="_blank">
        {{- i18n.files.file.actions.view | default: 'View Original' -}}
      </a>
      {%- if page.download -%}
        <a class="btn btn-light btn-block" href="{{ page.file }}" download={{ page.title | slugify }}>
          {{- i18n.files.file.actions.download | default: 'Download' -}}
        </a>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}