// Bootstrap ***REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED***--
$body-bg: #FFFFFF !default;

// Custom ***REMOVED******REMOVED******REMOVED******REMOVED******REMOVED******REMOVED***--
// Dimensions
$logo-size: 38px !default;
$avatar-size: 142px !default;
$aside-width: 364px !default;
$jumbotron-ratio: 43% !default;
$social-icon-size: 32px !default;
$post-img-size: 100px !default;
$header-height: 62px !default;
$blockquote-border-width: 4px !default;
$video-ratio: 56% !default;

// Backgrounds
$header-bg: $body-bg !default;
$code-bg: darken($body-bg, 3%) !default;
$aside-bg: $body-bg !default;
$divider-bg: #F6F8FA !default;
$cookies-alert-bg: #343A40 !default;
$blockquote-bg: $divider-bg !default;

// Breakpoints
$breakpoints: (
  'aside': 'lg'
) !default;

// Thumbnails
$thumbnail-default-size: sm !default;
$thumbnail-sizes: (
  'xs': 24px,
  'sm': 48px,
  'md': 100px,
  'lg': 142px,
) !default;
