// Bootstrap --------------------
$body-bg: #FFFFFF !default;

// Custom --------------------
// Dimensions
$logo-size: 142px !default;
$aside-width: 364px !default;
$jumbotron-ratio: 33% !default;
$social-icon-size: 32px !default;
$post-img-size: 100px !default;
$header-height: 54px !default;

// Backgrounds
$header-bg: $body-bg !default;
$code-bg: darken($body-bg, 3%) !default;
$aside-bg: $body-bg !default;

// Breakpoints
$breakpoints: (
  'aside': 'lg'
) !default;

// Thumbnails
$thumbnail-default-size: sm !default;
$thumbnail-sizes: (
  'xs': 24px,
  'sm': 64px,
  'md': 100px,
  'lg': 142px,
) !default;
