<div class="card mb-3">
  <div class="card-header">Quick Links</div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row flex-nowrap">
        <div class="col text-truncate">Call Us</div>
        <div class="col-auto pl-0">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row flex-nowrap">
        <div class="col text-truncate">Book Appointment</div>
        <div class="col-auto pl-0">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row flex-nowrap">
        <div class="col text-truncate">Directions</div>
        <div class="col-auto pl-0">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">Social Links</div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row flex-nowrap">
        <div class="col-auto">
          <i class="fab fa-twitter"></i>
        </div>
        <div class="col pl-0 text-truncate">Twitter</div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row flex-nowrap">
        <div class="col-auto">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="col pl-0 text-truncate">Facebook</div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row flex-nowrap">
        <div class="col-auto">
          <i class="fab fa-yelp"></i>
        </div>
        <div class="col pl-0 text-truncate">Yelp</div>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="row flex-nowrap">
        <div class="col-auto">
          <i class="fab fa-youtube"></i>
        </div>
        <div class="col pl-0 text-truncate">Youtube</div>
      </div>
    </a>
  </div>
</div>
