{% assign i18n = site.data.languages %}
{% assign cancel_label = i18n.aside.cancel | default: 'Cancel' %}

<aside id="aside" class="collapse">
  <div class="backdrop" data-toggle="collapse" data-target="#aside"></div>
  <div class="body container">
    <div class="cancel text-right py-2 border-bottom">
      <a class="btn btn-sm" data-toggle="collapse" data-target="#aside">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="content overflow-y">
      {%- include aside/actions.html -%}
      {%- include aside/socials.html -%}
      <div id="footnote" class="card bg-transparent">
        <div class="card-body pt-0">
          {%- if site.data.aside.general.footnote -%}
            <div class="mb-2">{{ site.data.aside.general.footnote }}</div>
          {%- endif -%}
          {%- include copyright.html -%}
          {%- include aside/cmdbrew_badge.html -%}
        </div>
      </div>
    </div>
  </div>
</aside>