<nav id="header" class="navbar navbar-expand fixed-top {{ include.navbar_class }}">
  <div class="row mx-0 w-100">
    <div class="col-4 pl-0">
      <ul class="navbar-nav">
        {%- if page.url != "/index.html" -%}
          <li class="nav-item"></li>
            <a class="nav-link" href="{{ "/" | relative_url }}">
              <i class="fas fa-chevron-left"></i>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
    <div class="col-4 px-0 text-center">
      <a class="navbar-brand" href="#">{{ site.title | escape }}</a>
    </div>
    <div class="col-4 pr-0">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item aside-toggler">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#aside" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>