{%- assign _pwa = site.data.notices.pwa -%}

{%- if _pwa.enabled -%}
  <!-- Start PWA configuration -->
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <meta name="theme-color" content="{{ _pwa.theme_color }}"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="{{ _pwa.apple_statusbar_color }}">

  <!-- icon in the highest resolution we need it for -->
  <link rel="icon" sizes="192x192" href="{{ _pwa.icons.192 }}">
  <!-- reuse same icon for Safari -->
  <link rel="apple-touch-icon" href="{{ _pwa.icons.192 }}">
  <!-- multiple icons for IE -->
  <meta name="msapplication-TileColor" content="{{ _pwa.background_color }}">
  <meta name="msapplication-TileImage" content="{{ _pwa.icons.192 }}">

  <script>
  if ("serviceWorker" in navigator) {
    if (navigator.serviceWorker.controller) {
      console.log("An active service worker found, no need to register");
    } else {
      // Register the service worker
      navigator.serviceWorker
        .register("{{ site.baseurl }}/serviceworker.js", {
          scope: "./"
        })
        .then(function (reg) {
          console.log("Service worker has been registered for scope: " + reg.scope);
        });
    }
  }
  </script>
  <!-- End PWA configuration -->
{%- endif -%}