#aside {
  .aside-group { @extend #{$aside-group-class} !optional; }
  .group-title { @extend #{$aside-group-title-class} !optional; }
  .aside-more { @extend #{$aside-more-toggle-class} !optional; }

  .categories ul {
    @extend #{$aside-categories-ul-class} !optional;
    li { @extend #{$aside-categories-li-class} !optional; }
  }

  .tags ul {
    @extend #{$aside-tags-ul-class} !optional;
    li { @extend #{$aside-tags-li-class} !optional; }
  }

  .years ul {
    @extend #{$aside-years-ul-class} !optional;
    li { @extend #{$aside-years-li-class} !optional; }
  }

  @include media-breakpoint-up($aside-breakpoint) {
    width: $aside-width;
    max-width: $aside-width;

    .aside-body {
      @supports (position: sticky) {
        position: sticky;
        top: $aside-sticky-offset-top;
        z-index: $zindex-sticky;
      }
    }
  }
}
