.photos {
  .grid-view,
  .list-view {
    display: none;
  }

  &[data-mode='list'] {
    .list-view { display: block; }
    .btn[data-mode='list'] { @extend .btn-primary; }

    .photo {
      .photo-img {
        @extend %background-cover;
        position: relative;
        width: $photo-img-size;
        max-width: 33%;
        overflow: hidden;

        &::before {
          display: block;
          padding-top: 100%;
          content: '';
        }
      }
    }
  }

  &[data-mode='grid'] {
    .grid-view { display: block; }
    .btn[data-mode='grid'] { @extend .btn-primary; }

    .photo-wrap {
      padding: 1px;
    }

    .photo {
      @extend %background-cover;
      position: relative;
      display: block;
      padding: 0;
      margin-bottom: 0;

      &::before {
        display: block;
        padding-top: 100%;
        content: '';
      }
    }

    .placeholder {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      padding: $spacer;
      color: $secondary;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }
}
