.spinner-wrap {
  position: relative;

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.jumbotron,
.file-wrap {
  .fa,
  svg {
    font-size: $display1-size;
  }
}
