aside {
  display: flex !important;
  flex-shrink: 0;
  background: $aside-bg;
  border-left: 1px solid $border-color;

  @include media-breakpoint-down(#{nth(map-keys($grid-breakpoints), index(map-keys($grid-breakpoints), map-get($breakpoints, 'aside')) - 1)}) {
    position: static;
    overflow: hidden;
    background: transparent;
    border: 0;

    &.show {
      top: 0;
      display: block;

      .body { @include transform(translateY(0%)); }
      .backdrop { display: block; }
    }

    .hidden-collapse { display: none; }

    .body {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $zindex-modal;
      display: flex;
      flex-direction: column;
      height: 100% !important;
      max-height: 80vh;
      padding: 0;
      background: $aside-bg;
      border-radius: $modal-content-border-radius $modal-content-border-radius 0 0;
      @include transform(translateY(100%));
      @include transition(transform 0.2s linear);

      @include media-breakpoint-down('xs') {
        max-height: 100%;
      }

      #footnote,
      #cta {
        padding-right: $spacer;
        padding-left: $spacer;
      }

      .card { border-radius: 0; }
    }

    .content {
      display: block;
      flex: 1;
      padding-top: $spacer;
    }

    #footnote { text-align: center; }
  }

  @include media-breakpoint-up(#{map-get($breakpoints, 'aside')}) {
    display: flex;
    flex-direction: column;
    width: $aside-width;
    height: 100%;
    overflow-y: scroll;

    .body {
      padding-top: $spacer;
      padding-bottom: $spacer;
    }

    .navbar { display: none; }
  }
}
