#drift-widget {
  position: fixed !important;
  right: $spacer !important;
  bottom: $spacer !important;

  @include media-breakpoint-down(#{nth(map-keys($grid-breakpoints), index(map-keys($grid-breakpoints), map-get($breakpoints, 'aside')) - 1)}) {
    $_offset: map-get($spacers, 2) * 2;
    $_height: $input-height-lg;
    right: map-get($spacers, 1) !important;
    bottom: calc(#{$_offset} + #{$_height}) !important;
  }
}
