@mixin tab-underline($color) {
  &::after {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 3px;
    background: $color;
    content: '';
  }
}

.nav-tabs-wrap {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  // Hide scrollbar for IE and Edge
  -ms-overflow-style: none;
  // Hide scrollbar for Safari and Chrome
  &::-webkit-scrollbar { display: none; }
}

.nav-tabs {
  flex-wrap: nowrap;
  margin-bottom: 0;
  border-bottom: 0;

  .nav-link {
    @extend .h6;
    position: relative;
    margin-bottom: 0;
    color: $secondary;
    background: transparent;
    border: 0;

    &:focus { outline: 0; }

    &.active {
      color: $primary;
      @include tab-underline($primary);
    }
  }

  .nav-item {
    margin-bottom: 0;
  }
}
