{%- assign _i18n = site.data.locales -%}
{%- assign _date_format = site.entree.date_format | default: "%B %-d, %Y" -%}
{%- assign _read_time = include.post.content | strip_html | strip_newlines | reading_time -%}

<time class="dt-published" datetime="{{ include.post.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.post.date | date: _date_format }}</time>
{%- if include.post.author.size > 0 -%}
  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span>{{ _i18n.posts.post.by | default: 'by' }}</span>
    <span class="p-author h-card" itemprop="name">{{ include.post.author | escape }}</span>
  </span>
{%- endif -%}
<span>&nbsp;·&nbsp;<i class="mdi mdi-clock-outline mr-1"></i>{{ _i18n.posts.post.read_time | replace: '@time', _read_time }}</span>