{%- assign _img = include.post | cover_img -%}
{%- assign _excerpt = include.post.excerpt | default: include.post.content | strip_html | strip_newlines | truncate: 100 -%}

{%- capture _meta -%}
  {%- include posts/meta.html post=include.post -%}
{%- endcapture -%}


<article
   class="post h-entry item item-{{ forloop.index | default: 0 }} {{ include.css_class }}"
   itemscope itemtype="http://schema.org/BlogPosting"
   data-js="new-release" data-date={{ include.post.date | date_to_xmlschema }}>
  <div data-js='visible' data-target='.post'></div>
  <div class="media">
    <div class="media-body">
      <a class="p-category item-category" href="/{{ site.entree.generators.posts.categories.dir }}/{{ post.category | slugify }}" itemprop="genre">
        {{- post.category -}}
      </a>

      {%- if include.post.title.size > 0 -%}
        <h2 class="item-title p-name" itemprop="name headline">
          <a href={{ include.post.url | relative_url }} class="new-release-indicator">
            {{- include.post.title -}}
          </a>
        </h2>
      {%- endif -%}

      {%- if _excerpt.size > 0 -%}
        <p class="item-excerpt e-content" itemprop="articleBody">{{ _excerpt }}</p>
      {%- endif -%}

      {%- if _meta.size > 0 -%}
        <p class="item-meta">{{ _meta }}</p>
      {%- endif -%}
    </div>

    {%- if _img.size > 0 -%}
      <a class="item-img spinner-wrap text-reset text-decoration-none"
        href="{{ include.post.url | relative_url }}"
        data-js="lazy" data-src="{{ _img }}?nf_resize=fit&w=800&h=800">
        {%- include indicators/spinner.html -%}
      </a>
    {%- endif -%}
  </div>

  {{- include.extra -}}
</article>
