{% assign i18n = site.data.languages %}
{% assign socials = site.data.aside.socials.links %}

{% if socials.size > 0 %}
  <div class="card mb-3 overflow-hidden">
    <h5 class="card-header">{{ i18n.aside.socials }}</h5>
    <div class="list-group list-group-flush">
      {% for social in socials %}
        <a href="{{ social.url }}" rel="noopener" title="{{ social.name | escape }}" target="_blank" class="text-reset list-group-item list-group-item-action">
          <div class="row flex-nowrap">
            <div class="col-auto pr-0">
              <div class="brand-icon {{ social.name | downcase | replace: ' ', '-' }}">
                <i class="{{ social.icon_class }}"></i>
              </div>
            </div>
            <div class="col d-flex align-items-center">
              <div>
                <h6 class="mb-0 text-truncate">{{ social.name }}</h6>
                {%- if social.handle -%}
                  <p class="mb-0 text-secondary text-wrap">{{ social.handle }}</small>
                {%- endif -%}
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}