{%- if site.entree.cookies_policy -%}
  {%- assign cookies_policy = site.data.translations.legal.cookies_policy -%}
  <!-- START Bootstrap-Cookie-Alert -->
  <div class="alert alert-dark text-center cookiealert fixed-bottom" role="alert">
    {{ cookies_policy.message }} <a href="{{ cookies_policy.link.url }}">{{ cookies_policy.link.name }}</a>.
    <button type="button" class="btn btn-primary btn-sm acceptcookies my-1" aria-label="Close">
      {{ cookies_policy.agree }}
    </button>
  </div>
  <!-- END Bootstrap-Cookie-Alert -->
  <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
{%- endif -%}