@include layout($template: 'file') {
  @extend %layout-base;

  .file-wrap {
    display: flex;
    align-items: center;
    flex: 1 auto;
    flex-shrink: 0;
    justify-content: center;
    min-height: 150px;
    padding: $spacer;

    img { max-width: 100%; }
  }


  .object-wrap { flex: 1; }

  .page-nav {
    position: absolute;
    top: 50%;
    z-index: 11;
    transform: translateY(-50%);

    &.next {
      right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.previous {
      left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @include media-breakpoint-up(#{map-get($breakpoints, 'aside')}) {
    aside #comments {
      padding-right: 0;
      padding-left: 0;
      border-top: 1px solid $border-color;
    }
  }

  @include media-breakpoint-down(#{nth(map-keys($grid-breakpoints), index(map-keys($grid-breakpoints), map-get($breakpoints, 'aside')) - 1)}) {
    .object-wrap {
      flex: none;
      height: calc(100vh - 2 * #{$spacer} - #{$header-height});
      padding: $spacer;
    }
  }
}
