***REMOVED***
layout: default
***REMOVED***

{%- include header.html css_class="navbar-light bg-light" -%}

<div class="container offset-header">
  <h1>Category: #{{ page.category }}</h1>
  <ul>
    {% if page.paginator %}
      {% assign paginator = page.paginator %}
    {% else %}
      {% assign paginator = site %}
    {% endif %}

    {%- for post in paginator.posts -%}
      <li><a class="post" href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}

    {% capture path %}{{ 'categories/' | append: page.category }}{% endcapture%}
    {% include pagination.html path=path %}
  </ul>
</div>
