***REMOVED***
layout: default
***REMOVED***

{% assign i18n = site.data.translations %}

{% if page.paginator %}
  {% assign paginator = page.paginator %}
{% else %}
  {% assign paginator = site %}
{% endif %}

<div class="px-offset">
  <div class="container mt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ i18n.categories.title | default: 'Categories' }}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ page.category }}</li>
      </ol>
    </nav>
  </div>

  <ul class="list-group list-group-flush mb-3">
    {%- for post in paginator.posts -%}
      {% include post.html post=post %}
    {%- endfor -%}
  </ul>

  {%- assign category = page.category | slugify -%}
  {%- capture category_dir -%} {{ site.category_dir | default: 'categories' | append: '/' }} {%- endcapture -%}
  {%- capture path -%}{{ category_dir | append: category }}{%- endcapture -%}
  {% include pagination.html path=path %}
</div>
