<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- assign layout_class = "layout-default " | append: include.layout_class -%}
  {%- include head.html -%}

  <body class="{{ layout_class | strip }}">
    {%- include notice/alert.html -%}
    <div id="wrapper" class="order-1">
      <main id="main">
        {%- include header.html -%}
        <div id="content" class="overflow-y pb-5">
          {{ content }}
        </div>
      </main>
      {%- include aside.html -%}
    </div>
    {%- include footer.html -%}
  </body>
</html>