---
layout: default
---

{%- assign i18n = site.data.translations -%}
{%- assign filtered_pages = site.pages | where: 'list_on_index', true -%}
{%- assign content_available = page.content | strip_newlines -%}
{%- assign posts = site.posts | where: 'list_on_index', true  -%}
{%- assign featured_post = posts | where: 'path', page.pinned_post | first -%}
{%- assign paginate_limit = site['paginate'] -%}
{%- assign files = site.files | where: 'list_on_index', true | sort: 'date' | reverse -%}

{%- if page.banner.size > 0 -%}
  <div class="jumbotron jumbotron-fluid spinner-wrap" data-js="lazy" data-src="{{ page.banner | relative_url }}?nf_resize=fit&w=2244&h=741">
    {% include spinner.html %}
  </div>
{%- else -%}
  <div class="jumbotron jumbotron-default-offset"></div>
{%- endif -%}

<div class="px-offset">
  <div id="brand-info" class="container">
    <div class="brand-info mb-4">
      <div id="main-avatar" class="bg-body rounded-circle spinner-wrap" data-js="lazy" data-src="{{ page.avatar | relative_url }}">
        {% include spinner.html %}
      </div>
      <div class="mt-3">
        <h3>{{ page.title | default: site.title }}</h3>
        <article>{{ page.brief | markdownify }}</article>
      </div>
    </div>
  </div>

  <div class="border-bottom sticky-top bg-body">
    <div class="container">
      <div class="row">
        <div class="col-12 px-0">
          <div class="nav-tabs-wrap">
            <ul id="home-tabs" class="nav nav-tabs" role="tablist">
              {%- assign posts_label = i18n.home.tabs.posts | default: 'Posts' -%}
              {%- assign files_label = i18n.home.tabs.files | default: 'Files' -%}
              {%- assign about_label = i18n.home.tabs.about | default: 'About' -%}
              {%- assign categories_label = i18n.home.tabs.categories | default: 'Categories' -%}
              {%- assign pages_label = i18n.home.tabs.pages | default: 'Pages' -%}

              {%- if site.posts.size > 0 -%}
                {%- include tabs/link.html key="posts" content=posts_label -%}
              {%- endif -%}

              {%- if site.files.size > 0 -%}
                {%- include tabs/link.html key="files" content=files_label -%}
              {%- endif -%}

              {%- if content_available.size > 0 -%}
                {%- include tabs/link.html key="about" content=about_label -%}
              {% endif -%}

              {%- if site.categories.size > 0 -%}
                {%- include tabs/link.html key="categories" content=categories_label -%}
              {%- endif -%}

              {%- if filtered_pages.size > 0 -%}
                {%- include tabs/link.html key="pages" content=pages_label -%}
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content" data-target="#home-tabs">
    {%- if site.posts.size > 0 -%}
      {% capture posts_content %}
        <ul class="list-group list-group-flush">
          {%- if pinned_post and page.pinned_post.size > 0 -%}
            {% include post.html post=pinned_post pinned=true %}
          {%- endif -%}

          {%- if posts.size > 0 -%}
            {%- for post in posts limit: paginate_limit -%}
              {%- include post.html post=post -%}
            {%- endfor -%}
          {%- else -%}
            {%- capture posts_blank_title -%}
              {{ i18n.home.posts.blank.title | default: "We haven't featured any posts yet" }}
            {%- endcapture -%}

            {%- capture posts_blank_body -%}
              {{ i18n.home.posts.blank.body | default: "When we do, they will show up here." }}
            {%- endcapture -%}

            {%- include blank_slate.html title=posts_blank_title body=posts_blank_body -%}
          {%- endif -%}
        </ul>
        {%- if site.posts.size > posts.size or site.posts.size > paginate_limit -%}
          <div class="container py-3">
            {%- capture post_dir -%} {{ site.post_dir | default: 'posts' | prepend: '/' }} {%- endcapture -%}
            <div class="row">
              <div class="col-lg-4 mx-auto">
                <a class="btn btn-block btn-light" href="{{ post_dir }}">{{ i18n.home.links.posts | default: "View All Posts" }}</a>
              </div>
            </div>
          </div>
        {%- endif -%}
      {% endcapture %}

      {%- include tabs/pane.html key="posts" content=posts_content -%}
    {%- endif -%}

    {%- if site.files.size > 0 -%}
      {% capture files_content %}
        <div class="container px-0">
          {%- if files.size > 0 -%}
            <div class="photos row mx-0">
              {%- for file in files limit: paginate_limit -%}
                <div class="col-lg-3 col-4 photo-wrap">
                  {%- include file.html file=file -%}
                </div>
              {%- endfor -%}
            </div>
          {%- else -%}
            {%- capture files_blank_title -%}
              {{ i18n.home.files.blank.title | default: "We haven't featured any files yet" }}
            {%- endcapture -%}

            {%- capture files_blank_body -%}
              {{ i18n.home.files.blank.body | default: "When we do, they will show up here." }}
            {%- endcapture -%}

            {%- include blank_slate.html title=files_blank_title body=files_blank_body -%}
          {%- endif -%}
        </div>

        {%- if site.files.size > files.size or site.files.size > paginate_limit -%}
          <div class="container py-3">
            {%- capture file_dir -%} {{ site.file_dir | default: 'files' | prepend: '/' }} {%- endcapture -%}
            <div class="row">
              <div class="col-lg-4 mx-auto">
                <a class="btn btn-block btn-light" href="{{ file_dir }}">{{ i18n.home.links.files | default: "View All files" }}</a>
              </div>
            </div>
          </div>
        {%- endif -%}
      {% endcapture %}

      {%- include tabs/pane.html key="files" content=files_content -%}
    {%- endif -%}

    {%- if content_available.size > 0 -%}
      {%- capture about_content -%}
        <div class="container py-4">
          <div class="content-html">{{ content }}</div>
        </div>
      {%- endcapture -%}
      {%- include tabs/pane.html key="about" content=about_content -%}
    {%- endif -%}

    {%- if site.categories.size > 0 -%}
      {% capture categories_content %}
        <div class="list-group list-group-flush mb-3">
          {%- assign categories = site.categories | sort -%}
          {%- capture category_dir -%} {{ site.category_dir | default: 'categories' }} {%- endcapture -%}
          {%- for category in categories -%}
            {% capture category_name %}{{ category | first }}{% endcapture %}
            {% assign heading = category_name | slice: 0 | upcase %}

            {%- if heading != last_heading -%}
              <div class="list-group-item px-0 divider py-1">
                <div class="container font-weight-bold">{{ heading }}</div>
              </div>
            {%- endif -%}

            <a href="/{{ category_dir }}/{{ category_name | slugify }}" class="bg-transparent list-group-item px-0 list-group-item-action text-reset">
              <div class="mb-0 container">
                {{ category_name }}
              </div>
            </a>
            {% assign last_heading = heading %}
          {%- endfor -%}
        </div>
      {% endcapture %}

      {%- include tabs/pane.html key="categories" content=categories_content -%}
    {%- endif -%}

    {%- if filtered_pages.size > 0 -%}
      {% capture pages_content %}
        <div class="list-group list-group-flush mb-3">
          {%- assign grouped_pages = filtered_pages | group_by: 'group' | sort: 'name' -%}
          {%- for group in grouped_pages -%}
            {%- if group.name.size > 0 -%}
              <div class="list-group-item px-0 divider py-1">
                <div class="container font-weight-bold">{{ group.name }}</div>
              </div>

              {%- for page in group.items -%}
                <a href="{{ page.url | relative_url }}" class="bg-transparent list-group-item px-0 list-group-item-action text-reset">
                  <div class="mb-0 container">
                    {{ page.title | default: page.name }}
                  </div>
                </a>
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}

          {%- assign other_pages = filtered_pages | where_exp: 'item', 'item.group == null or item.group == ""' | sort: 'title' -%}
          {%- if other_pages.size > 0 -%}
            <div class="list-group-item px-0 divider py-1">
              <div class="container font-weight-bold">{{ i18n.home.pages.others }}</div>
            </div>

            {%- for page in other_pages -%}
              <a href="{{ page.url | relative_url }}" class="bg-transparent list-group-item px-0 list-group-item-action text-reset">
                <div class="mb-0 container">
                  {{ page.title | default: page.name }}
                </div>
              </a>
            {%- endfor -%}
          {%- endif -%}
        </div>
      {% endcapture %}
      {%- include tabs/pane.html key="pages" content=pages_content -%}
    {%- endif -%}
  </div>
</div>


<script>
  var $box = $('#main-avatar'),
      $content = $('#content');

  function scrollAnimateAvatar() {
    // normalize scroll position as percentage
    var scrolled = 1 - $content.scrollTop() / $content.height(),
        transformValue = 'scale(' + scrolled + ')';

    if( scrolled >= 0.6 && scrolled <= 1 ) {
      $box.css({
        '-webkit-transform': transformValue,
        '-moz-transform': transformValue,
        '-ms-transform': transformValue,
        '-o-transform': transformValue,
        'transform': transformValue
      });
    }
  }

  $content.scroll(function() {
    scrollAnimateAvatar();
  });

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $content.scrollTop($("#brand-info").height() + $content.offset().top)
  });
</script>