---
layout: application
---

{%- capture _meta -%}
  {%- include posts/meta.html post=page -%}
{%- endcapture -%}

{%- capture _related -%}
  {%- for post in site.related_posts limit: 3 -%}
    {%- include posts/related.html post=post -%}
  {%- endfor -%}
{%- endcapture -%}

{%- include layouts/show.html
            title=page.title banner=page.banner content=content meta=_meta
            category=page.category categories_dir=site.entree.generators.posts.categories.dir
            tags=page.tags tags_dir=site.entree.generators.posts.tags.dir
            related=_related -%}