---
layout: default
---

{% assign i18n = site.data.translations %}

{% if page.paginator %}
  {% assign paginator = page.paginator %}
{% else %}
  {% assign paginator = site %}
{% endif %}

<div class="px-offset">
  <div class="container mt-4 mb-3">
    <h1>{{ i18n.posts.title }}</h1>
  </div>

  <ul class="list-group list-group-flush mb-3">
    {%- for post in paginator.posts -%}
      {% include post.html post=post %}
    {%- endfor -%}
  </ul>

  {% capture path %}{{ 'posts/' }}{% endcapture%}
  {% include pagination.html path=path %}
</div>

