{%- assign i18n = site.data.translations -%}

{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- else -%}
  {%- assign paginator = site -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="layout-default">
    {%- if site.entree.snippets.header -%}
      {% include {{ site.entree.snippets.header | prepend: 'snippets/' }} %}
    {%- endif -%}

    {%- include notice/alert.html -%}
    <div id="wrapper" class="order-1">
      <main id="main">
        {%- include headers/default.html breadcrumb_collection='Posts' -%}

        <div id="content" class="overflow-y pb-5">
          {%-if page.custom_code.size > 0 -%}
            {{ page.custom_code }}
          {%- endif -%}

          <!-- Content (START) -->
          <div class="px-offset">
            <div class="container px-0">
              <ul class="list-group list-group-flush mb-3">
                {%- for post in paginator.posts -%}
                  {% include posts/post.html post=post %}
                {%- endfor -%}
              </ul>
            </div>

            {%- capture post_dir -%} {{- site.post_dir | default: 'posts' -}} {%- endcapture -%}
            {%- capture path -%}{{ post_dir }}{%- endcapture -%}
            {% include pagination.html path=path %}
          </div>
          <!-- Content (END) -->
        </div>
      </main>
      {%- include asides/default.html -%}
    </div>

    {%- if site.entree.snippets.footer -%}
      {% include {{ site.entree.snippets.footer | prepend: 'snippets/' }} %}
    {%- endif -%}
    {%- include scripts/cookies_alert.html -%}
  </body>
</html>

