<div class="layout-index">
  <nav id="index-breadcrumb" aria-label="breadcrumb">
    <div class="index-content-wrapper">
      <ol class="breadcrumb">
        {%- if page.current.size > 0 -%}
          <li class="breadcrumb-item">
            <a href="/{{ site.entree.generators[page.module].index.dir }}">
              {{- include.translations.title -}}
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{- page.current -}}
          </li>
        {%- else -%}
          <li class="breadcrumb-item active" aria-current="page">
            {{- include.translations.title -}}
          </li>
        {%- endif -%}
      </ol>
    </div>
  </nav>

  <div class="index-content-wrapper">
    <div class="row layout-wrapper">
      <div id="main" class="col-lg">
        <div class="container main-body">{{- include.content -}}</div>
      </div>

      <aside id="aside" class="col-lg">
        <div class="container aside-body">{{- include.aside -}}</div>
      </aside>
    </div>
  </div>
</div>