@include layout($template: 'file') {
  @extend %layout-base;

  .file-wrap {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    min-height: 150px;

    img { max-width: 100%; }
  }
}
